body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}
h1 span {
  color: #ffa500;
}

h3 {
  text-transform: capitalize;
  font-weight: 400;
}

p {
  color: #7e7e7e;
}

button {
  border: none;
  text-transform: uppercase;
  background: linear-gradient(to right, #fe9d78, #ff674b);
  padding: 15px 20px;
  border-radius: 7px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.flex{
    display: flex;
}

.half-width {
  width: 50%;
  margin: 0 5%;
}

.half-width img {
  width: 90%;
}

#banner {
  background-image: url("./images/top-banner.png");
  background-repeat: no-repeat;
  padding-top: 40px;
  margin-bottom: 40px;
}

#banner .half-width:first-of-type {
    margin-top: 40px;
    margin-left: 120px;
  }

#dream {
  margin: 40px 0;
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

#dream .half-width:last-of-type {
  margin-top: 90px;
  margin-right: 200px;
}

#experiences{
    margin-top: 40px;
    margin-bottom: 80px;
}

#experiences h1{
    margin-left: 05%;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 80px;
}

#experiences .flex .half-width{
    border-left: 5px solid black;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 0 50px 0 #7e7e7e;
}

#experiences .flex .half-width:first-of-type{
    border-color: #FF6247;
}

#experiences .flex .half-width:last-of-type{
    border-color: #0000f3;
}

#experiences .flex .half-width h1{
    font-size: 36px;
    font-weight: normal;
    text-transform: capitalize;
}

#experiences .flex .half-width h3{
    color: #ffa500;
}
